<!-- views/pages/lazyroll.ejs -->

<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head %>
  </head>
  <body>
  <header>
    <h1>
      Diceware App: Lazy Rolling, Lazy Rolling, Lazy Rolling for Fun!!
    </h1>
  </header>
  </body>
</html>
