<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <h1>
        You rolled!  You rule!  And your results are:
    </h1>
    <h2>
        Your number is:
    </h2>
    <p>
        <%= rolledNumber %>
    </p>
</body>
</html>
